<h2>PROFIL !!!!!!!!!!!!!!!!!</h2>
{{#each profil}}


<p>
  <img src=" {{this.image}}" alt="image not found">
  {{this.work}}
  {{this.country}}
  {{this.salaire}}
  {{this.description}}
  <button>delete</button>
</p>

{{/each}}

</form>